<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome</p>

<h1>Book Tracker</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Add Book</h3>
                </div>
            </div>
            <div class="card-body p-4">
                <form action="/dashboard" method="post" id="add-form" enctype="multipart/form-data">
                    <div class="mb-3">
                      <label for="title">Name</label>
                      <input type="text" name="title" class="form-control form-control-lg" placeholder="Enter title" required />
                    </div>
                    <div class="mb-3">
                      <label for="author">Author</label>
                      <input type="text" name="author" class="form-control form-control-lg" placeholder="Author" required />
                    </div>
                    <div class="mb-3">
                        <label for="publishDate">Publish Date</label>
                        <input type="text" name="publishDate" class="form-control form-control-lg" placeholder="ex. mm/dd/yyyy" required />
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Submit Image</label>
                        <input type="file" name="image" class="form-control form-control-lg" required />
                    </div>
                    <div class="mb-3 d-grid">
                        <input type="submit" name="submit" value="Add Book" class="btn btn-primary btn-lg"/>
                    </div>
                  </form>
            </div>
        </div>
    </div>

    <% books.forEach((row, index) => { %>
        <div class="align-middle">
            <p><%= index %></p>
            <p><img src="<%= row.image %>" width="50" class="img-thumbnail" alt=""></p>
            <p><%= row.title %></p>
            <p><%= row.author %></p>
            <p><%= row.publishDate %></p>
            <p>
                <a href="/edit/<%= row._id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                <a href="/delete/<%= row._id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
            </p>
        </div>
    <% })%>
    
 
   
<a href="/users/logout" class="btn btn-secondary">Logout</a>